@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import "./vars.css";
@import "./theme.css";

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: var(--ring-border);
  }
  
  body {
    color: var(--color-foreground);
    font-family: var(--font-primary);
    background-color: var(--color-background);
  }
}

@layer components {
  .container {
    margin-inline: auto;
    padding-inline: 2rem; 
  }
}

@layer utilities {
  .font-primary {
    font-family: var(--font-primary);
  }

  .font-tertiary {
    font-weight: 400;
    font-family: var(--font-secondary);
  }
  
  .font-secondary {
    font-weight: 700;
    font-family: var(--font-secondary);
  }
}